@model PWEBTP.Models.Reserva

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entregue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entregue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aceite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aceite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmsFinais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmsFinais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carro.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
